[submodule "lib/libft"]
	path = lib/libft
	url = https://github.com/jussihyva/libft.git
[submodule "lib/ft_printf"]
	path = lib/ft_printf
	url = https://github.com/jussihyva/ft_printf.git
[submodule "lib/minilibx-linux"]
	path = lib/minilibx-linux
	url = https://github.com/42Paris/minilibx-linux.git
